<div style="background-color:#4B0082; color:white; padding:10px; margin:10px 0;">
1. Create a DataFrame with the following data:  

data = {  
  'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],  
  'Age': [24, 27, 22, 32, 29],  
  'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],  
  'Salary': [45000, 54000, 50000, 62000, 47000]  
}  

a. Print the first five rows of the DataFrame.  
b. Get the summary statistics of the 'Age' and 'Salary' columns.  
c. Calculate the average salary of employees in the 'HR' department.
</div>

In [1]:
import pandas as pd

# Creating the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}

df = pd.DataFrame(data)

# (a) First five rows of the DataFrame

print("First five rows of the DataFrame:\n", df)

print("------------------------------------------------------------------------")

# (b) Summary statistics of 'Age' and 'Salary' columns

print("\nSummary Statistics of 'Age' and 'Salary':\n", df[['Age', 'Salary']].describe())

print("------------------------------------------------------------------------")

# (c) Calculating the average salary of employees in the 'HR' department

hr_avg_salary = df[df['Department'] == 'HR']['Salary'].mean()
print("\nAverage Salary in HR Department:", hr_avg_salary)

First five rows of the DataFrame:
       Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000
------------------------------------------------------------------------

Summary Statistics of 'Age' and 'Salary':
              Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000
------------------------------------------------------------------------

Average Salary in HR Department: 46000.0

<div style="background-color:#00008B; color:white; padding:10px; margin:10px 0;"> This code creates a table called DataFrame with details about employees like name, age, department, and salary. It first shows the full table with all rows. Then it calculates and displays basic statistics (like average, minimum, maximum) for the Age and Salary columns. Finally, it finds the average salary of only the employees working in the HR department. </div>

# ============================================================

<div style="background-color:#4B0082; color:white; padding:10px; margin:10px 0;">
2. Add a new column, 'Bonus', which is 10% of the salary.
</div>

In [2]:
# Adding a new column 'Bonus' which is 10% of 'Salary'
df['Bonus'] = df['Salary'] * 0.10

# Printing the updated DataFrame
print(df)

      Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
1      Bob   27    Finance   54000  5400.0
2  Charlie   22         IT   50000  5000.0
3    Diana   32  Marketing   62000  6200.0
4      Eve   29         HR   47000  4700.0

<div style="background-color:#00008B; color:white; padding:10px; margin:10px 0;"> This code adds a new column called 'Bonus' to the existing DataFrame. The bonus is calculated as 10% of each employee's salary. After adding this column, it prints the updated table showing the original data along with the new Bonus values. </div>

# ============================================================

<div style="background-color:#4B0082; color:white; padding:10px; margin:10px 0;">
3. Filter the DataFrame to show employees aged between 25 and 30.
</div>

In [3]:
# Filtering employees aged between 25 and 30

filtered_df = df[(df['Age'] >= 25) & (df['Age'] <= 30)]

# Printing the filtered DataFrame
print(filtered_df)

  Name  Age Department  Salary   Bonus
1  Bob   27    Finance   54000  5400.0
4  Eve   29         HR   47000  4700.0

<div style="background-color:#00008B; color:white; padding:10px; margin:10px 0;"> This code filters the DataFrame to show only the employees whose age is between 25 and 30, including both ages. It then prints this filtered list so we can see only those employees within this age range. </div>

# ===========================================================

<div style="background-color:#4B0082; color:white; padding:10px; margin:10px 0;">
4. Group the data by 'Department' and calculate the average salary for each department.
</div>

In [4]:
# Grouping by 'Department' and calculating the average salary
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()

# Printing the result
print(avg_salary_by_dept)

Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

<div style="background-color:#00008B; color:white; padding:10px; margin:10px 0;"> This code groups the employees based on their 'Department' and calculates the average salary for each department. Then, it prints the average salaries so we can compare how much employees earn on average in different departments. </div>

# ===========================================================

<div style="background-color:#4B0082; color:white; padding:10px; margin:10px 0;">
5. Sort the DataFrame by 'Salary' in ascending order and save the result to a new CSV file.
</div>

In [5]:
# Sorting the DataFrame by 'Salary' in ascending order
sorted_df = df.sort_values(by='Salary', ascending=True)

# Saving the sorted DataFrame to a CSV file
sorted_df.to_csv('sorted_employees.csv', index=False)

# Printing the sorted DataFrame
print(sorted_df)

      Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
4      Eve   29         HR   47000  4700.0
2  Charlie   22         IT   50000  5000.0
1      Bob   27    Finance   54000  5400.0
3    Diana   32  Marketing   62000  6200.0

<div style="background-color:#00008B; color:white; padding:10px; margin:10px 0;"> This code sorts the DataFrame by the 'Salary' column in ascending order, which means from lowest to highest salary. Then, it saves this sorted data into a new CSV file named 'sorted_employees.csv'. Finally, it prints the sorted DataFrame so you can see the result. </div>